<!--//<h1>{{ title }}</h1>-->
<!--//<img-->
<!--  //  src="{{imageUrl}}"-->
<!--    //alt="Imagem Exemplo" width="400" height="300"><br>//-->
<!--//<b>Nome:</b> {{pessoa.name}} <br>-->
<!--//<b>Idade:</b> {{pessoa.age}} <br>-->
<!--//<b>Profissao</b> {{pessoa.occupation}} <br>-->


<!--//<br>-->
<!--//<b>Hobbies</b>-->
<!--//<ul>-->
<!--  //  @for (hobby of listHobbies; track hobby){-->
<!--    //    <li>{{hobby}}</li>-->
<!--//}-->
<!--//</ul>-->

<!--//<button (click)="deleteHobbies()"> Deletar hobbie </button>-->

<!--//<button (click)="changeName()"> Alterar nome </button>-->


